.formulario {
    padding: 1rem;

    @include tablet {
        margin: auto;
        width: 80%;

        @include grid(2, 1fr)
    }

    .contacto {
        margin-bottom: 1rem;
        h3 {
            font-family: $titulo;
            color: $azulOscuro;

            @include tablet {
                font-size: 4rem;
            }
        }

        p {
            width: 80%;
            margin: auto;
            color: $azulOscuro;
        }
        li{
            list-style: none;
            color: $azulClaro;
            font-size: 1.7rem;

            @include tablet{
                margin-left: 2rem;
            }
        }
        .titulo{
            font-weight: 700;
        }
    }

    legend{
        font-family: $titulo;
        color: $azulOscuro;
    }
    label {
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        color: $azulOscuro;
    }

    input:not([type="submit"]),
    textarea,
    select {
        padding: 1rem;
        display: block;
        width: 100%;
        background-color: $blanco;
        border: 1px solid $gris;
        border-radius: 1rem;
        margin-bottom: 2rem;
        color: $azulOscuro;
    }

    .btn-form {
        width: 100%;
        background-color: $azulOscuro;
        border-radius: 1rem;
        color: $blanco;
        border: none;
        padding: 7px;
        
        

        @include tablet{
            width: auto;
            
        }
    }
}