.footer {
  background-color: lighten($azulClaro, 40);

  .copyrigth {
    font-size: 1.3rem;
    color: $gris;
    text-align: center;
  }
}

.contenedor-footer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;

  .titulo {
    font-weight: 700;
  }

  li {
    font-size: 1.3rem;
    color: $gris;
    list-style: none;

    @include tablet {
      margin-left: 2rem;
      font-size: 1.5rem;
    }
  }

  @include tablet {
    @include grid(3, 1fr)
  }


}

.sociales {

  h4{
    display: inline;
    margin: 0;
    color: $azulClaro;
    font-weight: $titulo;
    border-bottom: 2px solid $azulOscuro;
  }
  p{
    margin: 0;
    font-style: italic;
    color: $gris;
  }
  a {
    margin-left: 6rem;

  }

}
